*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Roboto", sans-serif;
    font-weight:300;
    background:black;
}


header{
    background:#910515;
    color:white;
    text-align:center;
    padding:20px;
}

header p{
    font-size:28px;
}


nav{
    background:#a62413;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    margin:0 15px;
}

nav a:hover{
    color:#e2240b;
    text-decoration:underline;
}


main{
    padding:20px;
}

section{
    background:white;
    max-width:700px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.container{
    text-align:center;
}

h1{
    margin-bottom:10px;
}

h2{
    margin-bottom:20px;
}

p{
    font-size:20px;
    line-height:1.6;
}


details{
    margin-top:20px;
}

summary{
    cursor:pointer;
    font-weight:bold;
    margin-bottom:10px;
}


footer{
    background:#8B4513;
    text-align:center;
    padding:20px;
    color:white;
}

footer i {
    color: black;
}