/* Remove margens padrões */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Corpo do site */
body {
    font-family: 'Caveat', sans-serif;
    background-color: black;
}

/* Cabeçalho */
header {
    background-color: #910515;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menu de navegação */
nav {
    background-color: #a62413;
    padding: 10px;
    text-align: center;
}

/* Links do menu */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Efeito ao passar o mouse */
nav a:hover {
    color:#e2240b;
    text-decoration: underline;
}

/* MAIN usando FLEXBOX */
main {

    /* ativa o flexbox */
    display:flex;

    /* permite quebrar linha */
    flex-wrap: wrap;

    /* centraliza os cards */
    justify-content:center;

    /* espaço entre os cards */
    gap:20px;

    padding:20px;
}

/* Cards/sections */
section {

    background-color: white;

    /* largura menor */
    width: 350px;

    /* altura mínima */
    min-height: 600px;

    padding:20px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

    /* flex interno */
    display:flex;

    justify-content:center;
}

/* Container interno */
.container {

    display:flex;

    /* imagem em cima */
    flex-direction:column;

    /* centraliza horizontalmente */
    align-items:center;

    text-align:center;

    gap:20px;
}

/* Imagem */
.container img {

    width:100%;

    max-width:280px;

    height:auto;

    border-radius:10px;
}

/* Parágrafos */
p {
    font-size:28px;
}

/* Footer */
footer {

    background-color:#8B4513;

    padding:20px;

    text-align:center;

    color:white;
}