* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: black;
}

header {
    background-color: #910515;
    color: white;
    text-align: center;
    padding: 20px;
}

.bg-img p {
    font-size: 28px;
}


nav {
    background-color: #a62413;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e2240b;
    text-decoration: underline;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 1200px;
    margin: 20px auto;
}

section {
    background-color: white;

    flex: 1 1 380px;
    max-width: 380px;

    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

section:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 30px rgba(255, 123, 0, 0.4);
}

main:hover section {
    filter: blur(3px);
    opacity: 0.6;
}

main section:hover {
    filter: blur(0);
    opacity: 1;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}


.container img {
    width: 100%;
    max-width: 300px;
    height: 200px;

    object-fit: cover;
    border-radius: 10px;
}


p {
    font-size: 20px;
    line-height: 1.6;
}


.diaria {
    background: linear-gradient(180deg, #ff9d00, #ff7b00);
    color: white;

    width: 100%;
    max-width: 280px;

    padding: 15px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.promocao {
    background: white;
    color: #ff7b00;

    font-size: 12px;
    font-weight: bold;

    padding: 4px 8px;
    border-radius: 6px;

    margin-bottom: 8px;
}

.texto-diaria {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.valor {
    font-size: 38px;
    font-weight: bold;
    margin-top: 5px;
}


footer {
    background-color: #8B4513;
    color: white;

    padding: 20px;
    text-align: center;
}

footer i {
    color: black;
}