/* Remove margens padrões */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Corpo do site */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: black;
}

/* Cabeçalho */
header {
    background-color: #910515;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menu de navegação */
nav {
    background-color: #a62413;
    padding: 10px;
    text-align: center;
}

/* Links do menu */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Efeito ao passar o mouse */
nav a:hover {
    color:#e2240b;
    text-decoration: underline;
}

/* MAIN usando FLEXBOX */
main {

   display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: center; /* centraliza os cards */
    gap: 20px; /* espaço entre eles */

    max-width: 1200px; /* largura máxima da área */
    margin: 20px auto;
}

/* Cards/sections */
section {

      background-color: white;

    /* 3 cards por linha */
     flex: 1 1 380px;
    max-width: 380px;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Container interno */
.container {

        display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;

    gap: 15px;
}

/* Imagem */
.container img {

     width: 100%;
    max-width: 300px;
    height: 200px;

    object-fit: cover;

    border-radius: 10px;
}

/* Parágrafos */
p {
    font-size:28px;
}

/* Footer */
footer {

    background-color:#8B4513;

    padding:20px;

    text-align:center;

    color:white;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Card da diária */
.diaria{
    background: linear-gradient(180deg, #ff9d00, #ff7b00);
    color: white;

    width: 100%;
    max-width: 280px;

    padding: 15px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Texto "DIÁRIA" */
.texto-diaria{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.valor{
    font-size: 38px;
    font-weight: bold;
    margin-top: 5px;
}

.promocao{
    background: white;
    color: #ff7b00;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 8px;
}